<h1 style="text-align:center; margin-top: 30px; ">Perfil</h1>
<h6 style="text-align:center; margin-top: 30px; ">Estudiante de la carrera de Ingenieria en Sistemas Computacionales</h6>
<div class="contenedor-imagen">
    <img
      src="../../assets/user.jpg"
      alt=""
    />
  </div>
  <div class="contenedor">
    <h3 class="acerca">Acerca de mi</h3>
    <br>
    <p class="mihi">Desde muy pequeño estuve interesado en las computadoras, estudie en la secundaria Informática, en la preparatoria programación y actualmente me encuentro en 10mo semestre en la carrera de Ingeneria en Sistemas Computacionales.</p>
</div>
<h1 style="text-align:center; margin-top: 30px; ">Detalles</h1>
<h4 style="text-align:center; margin-top: 30px; ">Nombre:</h4>
<h6 style="text-align:center; margin-top: 30px; ">Guzmán Álvarez Sergio Alejandro:</h6>
<h4 style="text-align:center; margin-top: 30px; ">Edad:</h4>
<h6 style="text-align:center; margin-top: 30px; ">22 años:</h6>
<h4 style="text-align:center; margin-top: 30px; ">Ubicación:</h4>
<h6 style="text-align:center; margin-top: 30px; ">Tepic, Nayarit, México.</h6>
<a href="https://www.facebook.com/Segateck/" class="fa fa-facebook" style="margin-left:630px;"></a>
<a href="https://github.com/SergioAlejandroGuzmanAlvarez" class="fa fa-github"></a>
<footer class="bg-dark py-4 mt-auto">
    <div class="container px-1">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto" style="margin-left: 350px;"><div class="small m-0 text-white">Copyright &copy; Todos los derechos reservados a sus respectivos dueños. | Guzman Alvarez Sergio Alejandro</div></div>
        </div>
    </div> 
</footer>